name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  if-else:
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag'
    steps:
      - name: Release tag is missing
        run: echo "Hallo"
